body
{
	height	: 100%;
	padding	: 0.5em 1.25em;
}

.current-process
{
	display : block;
}

.inactive
{
	display : none;
}

#post_key , #go_pbtweet
{
	display :none;
}

iframe
{
	background-color: white;
	height			: 120px;
	width			: 550px;
	margin			: 5px auto;
}

pre
{
	margin		: 0px 1em;
	font-family	: monospace;
}