*
{
	-webkit-user-select : none;
	font-family			: sans-serif;
}

body
{
/*	background-color	: rgb(90 , 90 , 90); */
	margin				: 0px;
	height				: 100%;
	background	: -webkit-gradient(	linear,
									left bottom,
									left top,
									from( rgb(240, 240, 240) ),
									color-stop( 0.75, rgb( 240, 240, 240 ) ),
									to( rgb(150, 150, 150) )
									);
	background-repeat : no-repeat;
}

a
{
	text-decoration : none;
}

a:hover
{
	text-decoration : underline;
}

#tab_bar
{
	margin : 0px;
	padding : 0px;
}

#tab_bar li
{
	display : inline ;
}

#column_wrapper
{
	width: 100%;
	overflow	:hidden;
	clear		: both;
}

#column
{
	height		: 500px;
	width		: 420px;
	text-align	: center;
	margin		: 0px auto;
	/*
	overflow-x: hidden;
	overflow-y: hidden;
	position: absolute;
	*/
}
/*
#column.fitting,
*/
.timeline_column.fitting
{
	-webkit-transition-property			: width ;
	-webkit-transition-duration			: 0.2s;
	-webkit-transition-delay			: 10ms;
	-webkit-transition-timing-function:	: ease-in;
}

.timeline_column
{
	display			:inline-block;
	vertical-align	: top;
	width			: 410px;
	margin			: 0px 4px;
/*	
	-webkit-transition-property			: width ;
	-webkit-transition-duration			: 0.2s;
	-webkit-transition-delay			: 10ms;
	-webkit-transition-timing-function:	: ease-in;
*/
}

.timeline_column:hover
{
}

.timeline
{
	position : relative;

	height		: 500px;
	background-color: white;

	overflow-y	: scroll;
	overflow-x	: hidden;

	border-width	: 0px 0px 6px 0px;
	border-style	: none solid solid solid;
	border-color	: rgb( 240 , 240 , 240 );
	padding			: 0px 7px 0px 12px;

	-webkit-background-clip				:padding-box;
	-webkit-box-shadow	: 0px 5px 10px rgba(0, 0, 0, 0.5);
	-webkit-border-bottom-left-radius	: 6px 6px;
	-webkit-border-bottom-right-radius	: 6px 6px;
	-webkit-border-top-left-radius		: 0px 0px;
	-webkit-border-top-right-radius		: 0px 0px;
}

.timeline_header
{
	-webkit-border-bottom-left-radius: 0px 0px;
	-webkit-border-bottom-right-radius: 0px 0px;
	-webkit-border-top-left-radius: 6px 6px;
	-webkit-border-top-right-radius: 6px 6px;
	background	: -webkit-gradient(	linear,
									left bottom,
									left top,
									from( rgb( 80, 80, 80) ),
									color-stop( 0.75, rgb( 150, 150, 150) ),
									color-stop( 0.95, rgb( 190, 190, 190 ) ),
									to( rgb( 70, 70, 70) )
									);
	color			: white;
	text-shadow		: black 0px 1px 0px;
	border			: 1px solid rgb(80, 80, 80);
	font-weight		: bold;
	padding			: 2px;
	height			: 23px;
	text-align		: center;
	line-height		: 20px;
}

.timeline_header input
{
	-webkit-user-select	: auto;
}

.timeline-button
{
	position	: absolute;
	float		: left;
	width		: 14px;
	height		: 14px;
	background	: -webkit-gradient(	linear,
									left top,
									left bottom,
									from( rgb( 230, 230, 230) ),
									color-stop( 0.4 , rgb( 70, 70, 80) ),
									to( rgb( 160, 160, 170) )
									);
	-webkit-border-radius	:8px;
	border		: 1px solid rgb( 200 , 200 , 200 );
	display		: none;
	font-size	: 14px;
	line-height	: 12px;
	margin-top	: 2px;
	text-align	: center;
	color		: rgb( 200 , 200 , 200 );
	text-shadow	: 0px 2px 3px rgba(0 , 0 , 0 , 0.5);
}

.timeline_column:hover .timeline_header .timeline-button.close,
.timeline_column:hover .timeline_header .timeline-button.shrink
{
	display		: block;
	-webkit-background-clip	:padding-box;
}

.timeline_column:hover .timeline_header .timeline-button.close:hover,
.timeline_column:hover .timeline_header .timeline-button.shrink:hover
{
	/*
	-webkit-transition-property			: background , -webkit-gradient , text-shadow ;
	-webkit-transition-duration			: 0.3s;
	-webkit-transition-timing-function:	: ease-in;	
	*/
	color			: white;
	cursor			: pointer;
	text-shadow		: white 0px 0px 2px;
	border-color	: rgb( 120 , 120 , 120 );
}

.timeline-button.close
{
	margin-left	: 6px;
}

.timeline-button.shrink
{
	margin-left	: 24px;
}

.timeline-button.close:hover
{
	background	:-webkit-gradient(	linear,
									left top,
									left bottom,
									from( rgb( 255, 255, 255) ),
									color-stop( 0.4 , rgb( 220, 80, 80) ),
									to( rgb( 120, 70, 70) )
									);

}

.timeline-button.shrink:hover
{
	background	:-webkit-gradient(	linear,
									left top,
									left bottom,
									from( rgb( 255, 255, 255 ) ),
									color-stop( 0.4 , rgb( 250, 200, 40) ),
									to( rgb( 160, 120, 40) )
									);
}

/* timeline shrinked*/
.timeline_column.shrink
{
	-webkit-animation: shrinkTimeline 0.2s ease-in 1;
}

.timeline_column.expand
{
	-webkit-animation: expandTimeline 0.2s ease-in 1;
}

.timeline_column.mini
{
	width	: 120px;
	height	: 30px;
}

@-webkit-keyframes shrinkTimeline
{
	0%
	{
		width	: 410px;
		height	: inherit;
	}

	100%
	{
		width	: 120px;
		height	: 30px;
	}
}

@-webkit-keyframes expandTimeline
{
	0%
	{
		width	: 120px;
		height	: 30px;
	}

	100%
	{
		width	: 410px;
		height	: inherit;
	}
}

/*
.timeline_column:not(.mini) + .mini + .mini,
.mini:first-child + .mini
{
	margin-left	: -124px;
	margin-top	: 40px;
}

.timeline_column:not(.mini) + .mini + .mini + .mini,
.mini:first-child + .mini + .mini
{
	margin-left	: -124px;
	margin-top	: 80px;
}
*/

.timeline_column.mini .timeline_header
{
	-webkit-border-radius	: 6px;
	font-size	: 10px;
}

.timeline_column.mini .timeline_header input
{
	display	: none;
}


.timeline_column.mini .timeline
{
	display	:none;
}

#home_column
{
	left : 10px;
}

#mention_column
{
	left : 430px;
}

#list_column
{
	left : 850px;
}

#dminbox
{
	display : none;
	left : 840px;
}


/*
	post status
*/
#post *
{
	-webkit-user-select : auto;
}

header
{
}

#post
{
	width	: 550px;
	-webkit-border-radius	: 6px;
	margin	: 0px auto;
}

#post #status
{
	width		: 400px;
	height		: 40px;
	max-width	: 400px;
	min-width	: 400px;
	min-height	: 24px;
	padding		: 3px;
	float		: left;
}

#post #hashtag
{
	vertical-align	: top;
}

#post #counter
{
	position	: absolute;
	margin-left	: 470px;
	font-size	: 24px;
	font-family	: Helvetica , san-serif;
	font-weight	: bold;
	color		: white;
}

/*
 Tweets' stylesheet
*/
.entry
{
	display			: list-item;
	list-style-type	: none;
	clear			: both;	
	padding-bottom	: 5px;
	margin			: 0px;
}

.timeline > .entry
{
	border-bottom	: 1px solid rgb( 220 , 220 , 220 );
}

.entry.conv
{
	display			: block;
	margin			: 0px 0px;
	padding-bottom	: 0px;
}

.entry.unread
{
	background-color	:#BBDDFF;
}

.entry .u-status
{
	display		: table-cell;
	width		: 331px;
	height		: 40px;
	max-width	: 331px;
	padding		: 0px 0px 0px 0px;
	text-align	: left;
}

.entry .thumbnail ~ .u-status .u-string
{
	min-height	:36px;
}

.entry .u-status .u-string
{
	max-width	: 331px;
	padding		: 14px 12px 0px 18px;
	
	background-repeat	: no-repeat;
	background-image	 :	url("./images/favorited.png"),
							url("./images/baloon_01.png"),
							url("./images/baloon_02.png");
	background-position :  321px 10px, 0px 8px , 0px 19px;
	-webkit-background-size:  0px 0px, 331px 11px , 331px 100%;
}

.entry.mine > .u-status > .u-string
{
	background-image	 :	url("./images/favorited.png"),
							url("./images/baloon_mine_01.png"),
							url("./images/baloon_mine_02.png");
}

.entry.mention > .u-status > .u-string
{
	background-image	 :	url("./images/favorited.png"),
							url("./images/baloon_mention_01.png"),
							url("./images/baloon_mention_02.png");
}

.entry.favorited > .u-status > .u-string
{
	-webkit-background-size:  20px 20px, 331px 11px , 331px 100%;
	background-position :  311px 0px, 0px 8px , 0px 19px;
}

.entry.loading > .u-status > .u-string
{
	-webkit-transition-property			: -webkit-background-size , background-position ;
	-webkit-transition-duration			: 0.25s;
	-webkit-transition-timing-function:	: ease-in;
}

.entry.conv > .u-status > .u-string
{
	padding		: 6px 12px 0px 18px;
	background-position :  321px 10px, 0px 0px , 0px 11px;
	-webkit-background-size:  0px 0px, 331px 11px , 331px 100%;
}

.entry.conv.favorited > .u-status > .u-string
{
	background-position :  311px 0px, 0px 0px , 0px 11px;
	-webkit-background-size:  20px 20px, 331px 11px , 331px 100%;
}

.entry .u-status .u-string
{
	font-size	: 12px;
}

a.sname
{
	color		: rgb(30, 60, 180);
}

a.sname:visited
{
	color		: rgb(30, 60, 180);
}

.entry .u-status .u-string .user-name
{
	font-weight	: bold;
	margin		: 0px 8px 0px 0px;
	color		: rgb(30, 60, 180);
}

.entry .u-status .u-string .user-name:visited
{
	color		: rgb(30, 60, 180);
}

.entry.retweeted .u-status .u-string .user-name:first-of-type
{
	margin		: 0px 0px 0px 0px;
}

.entry .u-status .u-string:hover *
{
	-webkit-user-select : text;
}

.entry .u-status .u-string .thumbnail_blank
{
	float	: right;
	display	: inline;
	width	: 36px;
	height	: 36px;
}

.entry div.thumbnail
{
	display		: block;
	position	: absolute;
	margin-left	: 280px;
	margin-top	: 28px;
	width		: 100px;
	height		: 36px;
	text-align	: right;
}

.entry a.thumbnail
{
	display		:	inline-block;
	border		: 6px white solid;
	max-width		: 100px;
	max-height		: 100px;
	-webkit-box-shadow	: rgba(0, 0, 0, 0.5) -3px 6px 12px;
	
	-webkit-transform-origin	: 100% 0%;
	-webkit-transform	: rotate(15deg) scale(0.3 ,0.3) translate(-100px,0px);

	z-index	: 999;
}

.entry img.thumbnail
{
	max-width		: 100px;
	max-height		: 100px;
}

.entry a.thumbnail:hover
{
	-webkit-animation: popPicture 0.25s 0.0s ease-in 1 alternate;

	-webkit-box-shadow	: rgba(0, 0, 0, 0.5) 0px 2px 4px;
	-webkit-transform	: rotate(0deg) scale(1 , 1) translate( -20px , -20px );
}

@-webkit-keyframes popPicture
{
	0%
	{
		-webkit-transform	: rotate(15deg) scale(0.3 ,0.3) translate( -100px , 0px );
	}

	90%
	{
		-webkit-transform	: rotate(0deg) scale(1.2 , 1.2) translate( -20px , -20px );
	}
	
	100%
	{
		-webkit-transform	: rotate(0deg) scale(1 , 1) translate( -20px , -20px );
	}
}

.entry .u-status .status-meta
{
	display		: table-cell;
	width		: 331px;
	min-width	: 311px;
	height		: 21px;
	overflow	: hidden;
	font-size	: 10px;
	padding		: 0px 20px 0px 0px;
	color		: rgb(136, 136, 136);
	text-align	: right;
	background-image 	: 	url("./images/baloon_03.png");
	background-repeat	: no-repeat;
}

.entry.mine > .u-status > .status-meta
{
	background-image : 	url("./images/baloon_mine_03.png");
}

.entry.mention > .u-status > .status-meta
{
	background-image : 	url("./images/baloon_mention_03.png");
}

.entry .u-status .status-meta a
{
	color		: rgb(136, 136, 136);
	text-decoration: none;
}

.entry .u-status .status-meta a:hover
{
	color		: rgb(80, 80, 80);
	text-decoration: underline;
}

.entry .icon_wrapper
{
	display : table-cell;
	vertical-align: bottom;
	padding: 0px 0px 0px 4px;
}

.entry.conv .icon_wrapper
{
	vertical-align	: bottom;
	padding			: 0px 0px 0px 12px;
}

.entry .icon
{
	margin	: 0px;
	width	: 36px;
	height	: 36px;
	-webkit-border-radius	: 6px;
	-webkit-box-shadow		: 0px 2px 3px rgba( 0, 0, 0, 0.75);
}

.entry.conv .icon
{
	width					: 28px;
	height					: 28px;
}

.entry .rt-icon
{
/*	position	: absolute; */
	display		: block;
	margin-left	: 22px;
	margin-top	: -20px;
	width		: 18px;
	height		: 18px;
	-webkit-box-shadow	: 0px 2px 2px rgba(0, 0, 0, 0.5);
	-webkit-border-radius	: 3px;
}

.entry .action
{
	position	: absolute;
	z-index		: 1;
	width 		: 328px;
	height		: 21px;
	margin		: -14px 0px 0px 46px;
	opacity		: 0;
	text-align	: center;

/*
	background-image	: url("./images/button_background.png");
	background-repeat	: no-repeat;
*/
	background	: -webkit-gradient(	linear,
									0% 0%, 0% 100%,
									from(rgba(0, 0, 0, 0)),
									color-stop(0.2, rgba(0, 0, 0, 0)),
									to(rgb(30, 30, 30)));
	-webkit-border-bottom-left-radius	: 10px 10px;
	-webkit-border-bottom-right-radius	: 10px 10px;
	-webkit-border-top-left-radius		: 0px 0px;
	-webkit-border-top-right-radius		: 0px 0px;


/*
	-webkit-transition-property			: opacity;
	-webkit-transition-duration			: 0.3s;
	-webkit-transition-timing-function:	: ease-in;
*/
}

.u-status:hover + .action,
.action:hover
{
	opacity				: 1.0;
/*	-webkit-animation	: popAction 0.3s linear 1; */
}

@-webkit-keyframes popAction
{
	0%
	{
		height		: 0px;
		opacity		: 0;
	}
	
	50%
	{
		height		: 21px;
		opacity		: 0.3;
	}
	
	100%
	{
		height		: 21px;
		opacity		: 1;
	}
}


.entry .action a
{
	display					: inline-block;
	box-sizing				: content-box;
	height					: 12px;
	font-size				: 9px;
	font-weight				: bold;
	cursor					: pointer;
	margin					: 0px 3px 3px 3px;
	padding					: 1px 6px;
	border					: 1px solid white;
	-webkit-border-radius	: 7px;
/*
	-webkit-transition		: -webkit-box-shadow	0.1s ease-in,
													color 0.1s ease-in,
													background 0.1s ease-in;
*/
	text-decoration			: none;

	color					: white;
	background				: -webkit-gradient(	linear,
												left top,
												left bottom,
												from( rgba(255, 255, 255, 0.2) ),
												to( rgba(150, 150, 150, 0.5) )
												);
/*	-webkit-box-shadow		: 0px 2px 3px rgba(0, 0, 0, 0.2); */
}

.entry .action a:hover
{
	color				: #444;
	background			: -webkit-gradient(linear, left top, left bottom, from( rgba(255, 255, 255, 0.8) ), to( rgba(200, 200, 200, 1) ), color-stop(0.1, rgb(255, 255, 255) ));
	text-decoration		: none;
	-webkit-box-shadow	: 0px 2px 3px rgba(0, 0, 0, 0.75);
}

.entry .action a.dimm
{
	cursor	: default;
	color	: #666666;
	border	: 1px solid #666666;
	background			: rgb( 200 , 200 , 200 );
}

.entry .action a.dimm:hover
{
	color				: #666666;
	border				: 1px solid #666666;
	background			: rgb( 200 , 200 , 200 );
	-webkit-box-shadow	: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.entry .u-string .translated
{
	color	: #444444;
	border-top: 1px dashed rgb(150, 150, 150);
}

.entry .u-string .translated.loading
{
	height	: 14px;
	/*
	-webkit-animation: loadTranslation 0.5s linear 1;
	*/
}

@-webkit-keyframes loadTranslation
{
	0%
	{
		opacity		: 0;
		height	: 0px;
	}

	50%
	{
		opacity		: 0;
		height	: 14px;
	}
	
	100%
	{
		opacity		: 1;
		height : 14px;
	}
}

.entry .conv .load-conv
{
	-webkit-background-size	: 331px 11px, 331px 25px;
	background-image		: url("./images/baloon_01.png"), url("./images/baloon_03.png");
	background-position-x	: 0px, 0px;
	background-position-y	: 0px, 11px;
	background-repeat		: no-repeat;
	font-size				: 12px;
	height					: 26px;
	margin-left				: 40px;
	padding-top				: 10px;
	text-align				: center;
	font-weight				: bold;
}

.entry .conv .load-conv.no-reply
{
	backgorund	: none;
	height		: 0px;
	padding		: 0px;
}

a.shorten-url
{
	background-color					: rgba( 255 , 255 , 255 , 0);
	display:inline-block;
	-webkit-transition-property			: background ;
	-webkit-transition-duration			: 0.25s;
	-webkit-transition-timing-function:	: ease-in;
}

a.shorten-url:hover
{
	background	: -webkit-gradient(	linear,
					left top,
					left bottom,
					from( rgb(230, 230, 230) ),
					color-stop(0.2, rgb(255, 255, 255)),
					to( rgb(245, 245, 245) )
					);
	border			: 1px solid rgb( 150 , 150 , 150 );
	margin			: -3px -4px;
	padding			: 2px 3px;
	text-decoration	:none;
	-webkit-border-bottom-left-radius: 0px 0px;
	-webkit-border-bottom-right-radius: 0px 0px;
	-webkit-border-top-left-radius: 3px 3px;
	-webkit-border-top-right-radius: 3px 3px;
	-webkit-box-shadow	: 0px 4px 3px rgba( 0 , 0 , 0 , 0.5);
}

a.shorten-url a
{
	background	: -webkit-gradient(	linear,
					left top,
					left bottom,
					from( rgb(230, 230, 230) ),
					color-stop(0.2, rgb(255, 255, 255)),
					to( rgb(245, 245, 245) )
					);
	display		: none;
	position	: absolute;
	width		: 313px;
	max-width	: 313px;
	left		: 60px;
	padding		: 4px 3px;
	border			: 1px solid rgb( 150 , 150 , 150 );
	-webkit-border-radius	: 4px 4px;
	-webkit-box-shadow	: 0px 4px 3px rgba( 0 , 0 , 0 , 0.5);
}

a.shorten-url:hover a
{
	display	:block;
	z-index	: 2;
	-webkit-animation: openURL 0.2s ease-in 1;	
}

a.shorten-url.loading a
{
	background: white;
}

@-webkit-keyframes openURL
{
	0%
	{
		opacity		: 1;
		-webkit-transform	: scale(0.2, 1);
	}

	50%
	{
		opacity		: 1;
		-webkit-transform	: scale(0.2, 1);
	}

	100%
	{
		opacity		: 1;
		-webkit-transform	: scale(1, 1);
	}
}

a.hashtag
{
	border		: 1px solid rgb( 120 , 120 , 120 );
	font-weight	: bold;
	color		: rgb( 250 , 250 , 250 ) ;
	text-shadow	: 0px 0px 1px rgba( 0 , 0 , 0 , 0.5);
	display		: inline-block;
	margin		: 0px 0px;
	padding		: 0px 4px;
	background	: -webkit-gradient(	linear,
					left top,
					left bottom,
					from( rgba(180, 180, 180 , 0.3) ),
					to( rgba(80, 80, 80 , 0.7) )
					);
	-webkit-background-clip	: padding-box;
	-webkit-border-radius	: 7px;
	-webkit-transition-property			: -webkit-box-shadow , text-shadow ;
	-webkit-transition-duration			: 0.15s;
	-webkit-transition-timing-function:	: ease-in;	
}

a.hashtag:hover
{
	color			: white;
	text-shadow		: 0px 0px 1px rgba( 255 , 255 , 255 , 0.5);
	text-decoration	: none;
	background		: -webkit-gradient(	linear,
						left top,
						left bottom,
						from( rgb(180, 180, 180) ),
						to( rgb(80, 80, 80) )
						);
	-webkit-box-shadow	: 0px 1px 2px rgba( 0 , 0 , 0 , 0.5);
}

/*
	rate-limit

api-rate">
		<div class="hourly-rate">
		</div>
		<div class="rate">
		</div>
		<div class="reset-time">
*/
.api-rate
{
	position	:absolute;
}

.api-rate .hourly-rate
{
	height	: 6px;
	width	: 150px;
	-webkit-border-radius	: 3px;
	background	: -webkit-gradient(	linear,
					left top,
					left bottom,
					from( rgb(40, 40, 40) ),
					to( rgb(120, 120, 120) )
					);
}

.api-rate .rate
{
	height	: 6px;
	width	: 150px;
	font-size	: 8px;
	line-height	: 6px;
	text-align	: right;
	padding-right:	2px;
	-webkit-border-radius	: 3px;
	background	: -webkit-gradient(	linear,
					left top,
					left bottom,
					from( rgb(220, 60, 60) ),
					to( rgb(90, 0, 0) )
					);
					
	-webkit-animation: rateSlider 2s ease-in infinite;	
}

.api-rate .rate.no-auth
{
	background	: -webkit-gradient(	linear,
					left top,
					left bottom,
					from( rgb(220, 180, 60) ),
					to( rgb(90, 70, 0) )
					);
}

.api-rate .reset-time
{
	font-size: 8px;
}

@-webkit-keyframes rateSlider
{
	0%
	{
		opacity		: 1;
	}

	100%
	{
		opacity		: 1;
	}
}


/*
	Dock part
	<footer>
		<div class="dock">
			<div class = "home"		onclick = "var mention = new timeline('home');">Home</div>
			<div class = "mention"	onclick = "var mention = new timeline('mention');">Mentions</div>
		</div>
	</footer>
*/

footer
{
	position	: fixed;
	bottom		: 0px;
	left		: 0px;
	width		: 100%;
}

footer > div.dock
{
	text-align	: center;
}

footer > div.dock > section > div
{
	display	: inline;
	cursor	: pointer;
}


/*
	list part
*/
.lists
{
}

footer .lists
{
	position	: fixed;
	bottom		: 15px;
	margin-left	: -30px;
	padding		: 6px 0px;
	border		: 2px white solid;
	width		: 230px;
	max-height	: 80%;
	overflow-x	: hidden;
	overflow-y	: auto;
	padding	: 4px 0px 9px 0px;
	display		: none;
	background-color	: rgba( 0 , 0 , 0 , 0.65);
	-webkit-box-shadow	: 0px 3px 6px rgba( 0 , 0 , 0 , 0.5);
	-webkit-border-radius	: 6px;
}

footer #my_lists:hover .lists,
.lists:hover
{
	display	: inline-block;
	z-index	: 999;
}

.list-index
{
	padding		: 2px 6px;
	text-align	:	left;
}

.list-index:hover
{
	background	: -webkit-gradient(	linear,
					left top,
					left bottom,
					from( rgba( 120, 120, 120 , 0.5) ),
					to( rgba(30, 30, 30 , 0.5) )
					);
	-webkit-box-shadow	: 0px 3px 6px rgba( 0 , 0 , 0 , 0.5);
}

.list-icon
{
	width		: 16px;
	height		: 16px;
	max-width	: 16px;
	max-height	: 16px;
	float		: left;
	-webkit-border-radius	: 4px;
}

.list-index a
{
	color		: white;
	margin-left	: 4px;
}

.list-index a:hover
{
	text-decoration	: none;
}

.list-index.active
{
	-webkit-animation: menuBlink 0.2s linear 2;
}

@-webkit-keyframes menuBlink
{
	0%
	{
		background-color	: rgb( 120, 120, 120);
	}

	50%
	{
		background-color	: rgb( 180, 180, 180);
	}
	
	100%
	{
		background-color	: rgb( 180, 180, 180);
	}
}

/*
geolocation
*/

div.geolocation
{
	display		: inline-block;
	margin		: 0px 8px 0px -8px;
	width		: 14px;
	height		: 14px;
	vertical-align	: top;
}

a.geolocation
{
	display		: inline-block;
	position	: absolute;
	z-index		: 999;
	font-size	: 12px;
	height		: 12px;
	line-height	: 12px;
	text-align	: center;
	width		: 12px;
	color		: white;
	font-weight	: bold;
	border		: 1px solid white;
	background	: -webkit-gradient(	linear,
					right top,
					left top,
					from( rgb( 255, 255, 255) ),
					color-stop(0.3, rgb( 90, 100, 120)),
					to( rgb(30, 30, 80) )
					);
	-webkit-background-clip	: padding-box;
	-webkit-border-radius	: 7px;
	-webkit-transform		: rotate(-90deg);
	-webkit-box-shadow	: -1px 0px 2px rgba( 0, 0, 0, 0.5);
}

div.geolocation:hover a.geolocation
{
	background	: -webkit-gradient(	linear,
					right top,
					left bottom,
					from( rgb( 255, 255, 255) ),
					color-stop(0.3, rgb( 120, 120, 240)),
					to( rgb(30, 30, 120) )
					);
	-webkit-background-clip	: padding-box;
	text-decoration	: none;
	-webkit-transform		: rotate(-45deg);
}

div.geolocation .map-title
{
	opacity			: 0;
	position		: absolute;
	color			: black;
	width			: 200px;
	max-width		: 200px;
	font-size		: 10px;
	margin-left		: 7px;
	padding			: 0px 7px;
	z-index			: 990;
	border			: rgb( 120 , 120 , 120 ) 1px solid;
	background		: -webkit-gradient(	linear,
										left top,
										left bottom,
										from( rgb( 220, 220, 230) ),
										color-stop(0.2, rgb( 255 , 255 , 255 )),
										to( rgb( 255 , 255 , 255 ) )
										);
	-webkit-border-top-right-radius: 7px;
	-webkit-border-bottom-right-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-webkit-transform	: scale( 0.1 , 1.0);
	-webkit-transform-origin	: 0% 0%;
	-webkit-box-shadow	: 0px 1px 2px rgba( 0, 0, 0, 0.5);
	-webkit-transition-property			: -webkit-transform;
	-webkit-transition-duration			: 0.2s;
	-webkit-transition-timing-function:	: ease-in;
}

div.geolocation:hover .map-title
{
	opacity		:1.0;
	-webkit-transform	: scale( 1.0 , 1.0);
}

div.geolocation .map-title img
{
	display:none;
	margin	: 4px 0px;
}

div.geolocation:hover .map-title img
{
	display:block;
}
